.dashboardmain {
  .head {
    text-align: center;

    font-size: 50px;
    color: #152d35;
    height: 300px;
    background-image: url(../../public/5348666.jpg);
    background-size: cover;
  }
  .mystyle {
    display: none;
  }
  .TabContainer {
    text-align: center !important;
    margin: auto !important;
  }
  .tabs {
    margin-left: 20px !important;
  }
  .midhead {
    text-align: center;
    font-size: 30px;
    color: #014988;
  }
}
// color:"#014988"
