@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu+Mono&display=swap");

.Login {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  overflow-y: hidden;

  hr.divider:after {
    content: "Or";
    display: inline-block;
    position: relative;
    top: -11px;
    padding: 0 16px;
    background: #fff;
  }
  hr.divider {
    margin-bottom: 5px;
    padding: 0;
    overflow: visible;
    border: none;
    border-top: 1px solid rgb(83, 82, 82);
    color: #6e6d7a;
    text-align: center;
  }
  .Grid_top {
    background-image: url("https://image.freepik.com/free-vector/flat-minimal-geometric-background_52683-61878.jpg");
    background-size: cover;
  }
  @media (min-width: 600px) and (max-width: 700px) {
    .heading {
      font-size: 1.85rem !important;
    }
  }
  @media screen and (max-width: 600px) {
    .heading {
      font-size: 1.85rem !important;
    }
    hr {
      width: 90% !important;
      margin: auto;
    }
    .addOn {
      margin-top: 0% !important;
    }
    .Grid_top {
      height: fit-content;
    }
    .Grid_mid {
      justify-content: flex-start;
    }
    .bottom {
      font-size: 0.8rem !important;
    }
  }
  @media (min-width: 700px) and (max-width: 900px) {
    .heading {
      font-size: 2rem !important;
    }
    hr {
      width: 90% !important;
      margin: auto;
    }

    .bottom {
      font-size: 1.2rem !important;
    }
  }
}
.Register {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  overflow-y: hidden;

  hr.divider:after {
    content: "Or";
    display: inline-block;
    position: relative;
    top: -11px;
    padding: 0 16px;
    background: #fff;
  }
  hr.divider {
    margin-bottom: 5px;
    padding: 0;
    overflow: visible;
    border: none;
    border-top: 1px solid rgb(83, 82, 82);
    color: #6e6d7a;
    text-align: center;
  }
  .Grid_top_signup {
    background-image: url("https://image.freepik.com/free-vector/hand-drawn-minimal-background_23-2149017896.jpg");
    background-size: cover;
  }
  .addOn {
    position: relative;
  }
  .name {
    display: block;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .heading {
      font-size: 1.85rem !important;
      width: max-content;
      margin: auto;
    }
    hr {
      width: 90% !important;
      margin: auto;
    }
    .addOn {
      margin-top: 0% !important;
    }
    .Grid_top_signup {
      height: fit-content;
    }
    .Grid_mid {
      justify-content: flex-start;
    }
    .bottom {
      font-size: 0.8rem !important;
    }
  }
  @media (min-width: 600px) and (max-width: 700px) {
    .heading {
      font-size: 1.85rem !important;
      width: max-content;
    }
  }
  @media (min-width: 700px) and (max-width: 900px) {
    .heading {
      font-size: 2rem !important;
    }
    hr {
      width: 90% !important;
      margin: auto;
    }
    .name {
      display: block;
      width: 100%;
    }
    .bottom {
      font-size: 1.2rem !important;
    }
  }
}
/*1018*/
/*719*/
