@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu+Mono&display=swap');
.upload {
  .select-img-div {
    // padding:20vh;
    // margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // height:100vh;
    // width:100vw;
  }
  .select-img {
    margin-bottom: 10px;
  }
}
